$desaturated-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);
$dark-gray: hsl(0, 6%, 24%);
//Linear, 135deg
$light-from: hsl(0, 0%, 100%);
$light-to: hsl(0, 100%, 98%);
$light-gradient: linear-gradient(135deg, $light-from, $light-to);
//Linear, 135deg
$orange-from: hsl(0, 80%, 86%);
$orange-to: hsl(0, 74%, 74%);
$orange-gradient: linear-gradient(135deg, $orange-from, $orange-to);

$border-button: #d0d0d0;

$font-size: 16px;
$font-family: "Josefin Sans", serif;

$background-desktop: url(.././images/bg-pattern-desktop.svg);
$hero-desktop: url(.././images/hero-desktop.jpg);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  height: 100vh;
  background: $light-gradient;
}

.container {
  display: grid;
  grid-template-columns: 58% 42%;
  grid-template-rows: 150px 1fr;
  grid-template-areas:
    "l i"
    "t i";
  height: 100%;
  background: $background-desktop;
  background-size: 58% 100%;
}

.logo {
  grid-area: l;
}

.text {
  grid-area: t;
  background-size: cover;
}

.image {
  background: $hero-desktop;
  background-size: cover;
  grid-area: i;
}

.wrapper {
  display: flex;
  width: 60%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;

  &__header {
    h1 {
      font-size: 4rem;
      line-height: 4rem;
      color: $dark-gray;
      letter-spacing: 1rem;
      font-weight: 600;
    }
    h1:first-child {
      font-weight: 300;
      color: $desaturated-red;
    }
  }

  &__text {
    color: $desaturated-red;
    opacity: 0.8;
    line-height: 1.5rem;
    font-weight: 400;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    padding-right: 2rem;
  }

  &__subscribe {
    display: flex;
    flex-direction: column;

    .subscribe-form {
      position: relative;
      display: flex;
      align-items: center;
    }
    .error-icon {
      position: absolute;
      display: flex;
      align-items: center;
      right: 4rem;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }

    input[type="email"] {
      width: 85%;
      height: 50px;
      background: transparent;
      border: 1px solid $border-button;
      color: $desaturated-red;
      border-radius: 30px;
      padding: 1.5rem 2rem;
      outline: none;

      &:invalid {
        border-color: $soft-red;
        outline: none;
      }

      &::placeholder {
        font-size: 1rem;
        color: $desaturated-red;
        font-family: "Josefin Sans", serif;
      }
    }
    button {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $orange-gradient;
      padding: 1rem 2.5rem;
      border-radius: 30px;
      border: 0;
      right: 50px;
      box-shadow: 0px 0px 18px #d0d0d0;
    }
    /* This is the style of our error messages */
    .error {
      font-size: 0.8rem;
      color: $soft-red;
      margin: 1rem 0;
    }
  }
}
@media (max-width: 900px) {
  .wrapper {
    width: 90%;
  }
  .content {
    &__header {
      h1 {
        font-size: 3rem;
        line-height: 3rem;
        color: $dark-gray;
        letter-spacing: 0.5rem;
      }
    }
  }
}

@media (max-width: 570px) {
  body {
    height: 100%;
  }
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 80px 250px 1fr;
    grid-template-areas:
      "l"
      "i"
      "t";
    z-index: 1;
    background: $light-gradient;
    text-align: center;
  }
  .wrapper {
    padding: 0 1rem;
  }
  .content {
    margin-bottom: 2rem;
    &__text {
      padding-right: 0;
    }

    &__subscribe {
      .subscribe-form {
        input[type="email"] {
          width: 100%;
        }
        button {
          right: 0px;
        }
      }
    }
  }
  .brand {
    width: 100px;
  }

  .image {
    background: url(.././images/hero-mobile.jpg);
    background-size: 100% 100%;
  }
  .text {
    margin-top: 4rem;
  }
}
