* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Josefin Sans", serif;
  font-size: 16px;
  height: 100vh;
  background: linear-gradient(135deg, white, #fff5f5);
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 58% 42%;
      grid-template-columns: 58% 42%;
  -ms-grid-rows: 150px 1fr;
      grid-template-rows: 150px 1fr;
      grid-template-areas: "l i" "t i";
  height: 100%;
  background: url(.././images/bg-pattern-desktop.svg);
  background-size: 58% 100%;
}

.logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: l;
}

.text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: t;
  background-size: cover;
}

.image {
  background: url(.././images/hero-desktop.jpg);
  background-size: cover;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: i;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  height: 100%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5rem;
}

.content__header h1 {
  font-size: 4rem;
  line-height: 4rem;
  color: #413a3a;
  letter-spacing: 1rem;
  font-weight: 600;
}

.content__header h1:first-child {
  font-weight: 300;
  color: #ce9797;
}

.content__text {
  color: #ce9797;
  opacity: 0.8;
  line-height: 1.5rem;
  font-weight: 400;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  padding-right: 2rem;
}

.content__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* This is the style of our error messages */
}

.content__subscribe .subscribe-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__subscribe .error-icon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 4rem;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.content__subscribe input[type="email"] {
  width: 85%;
  height: 50px;
  background: transparent;
  border: 1px solid #d0d0d0;
  color: #ce9797;
  border-radius: 30px;
  padding: 1.5rem 2rem;
  outline: none;
}

.content__subscribe input[type="email"]:invalid {
  border-color: #f96262;
  outline: none;
}

.content__subscribe input[type="email"]::-webkit-input-placeholder {
  font-size: 1rem;
  color: #ce9797;
  font-family: "Josefin Sans", serif;
}

.content__subscribe input[type="email"]:-ms-input-placeholder {
  font-size: 1rem;
  color: #ce9797;
  font-family: "Josefin Sans", serif;
}

.content__subscribe input[type="email"]::-ms-input-placeholder {
  font-size: 1rem;
  color: #ce9797;
  font-family: "Josefin Sans", serif;
}

.content__subscribe input[type="email"]::placeholder {
  font-size: 1rem;
  color: #ce9797;
  font-family: "Josefin Sans", serif;
}

.content__subscribe button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  padding: 1rem 2.5rem;
  border-radius: 30px;
  border: 0;
  right: 50px;
  -webkit-box-shadow: 0px 0px 18px #d0d0d0;
          box-shadow: 0px 0px 18px #d0d0d0;
}

.content__subscribe .error {
  font-size: 0.8rem;
  color: #f96262;
  margin: 1rem 0;
}

@media (max-width: 900px) {
  .wrapper {
    width: 90%;
  }
  .content__header h1 {
    font-size: 3rem;
    line-height: 3rem;
    color: #413a3a;
    letter-spacing: 0.5rem;
  }
}

@media (max-width: 570px) {
  body {
    height: 100%;
  }
  .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 80px 250px 1fr;
        grid-template-rows: 80px 250px 1fr;
        grid-template-areas: "l" "i" "t";
    z-index: 1;
    background: linear-gradient(135deg, white, #fff5f5);
    text-align: center;
  }
  .wrapper {
    padding: 0 1rem;
  }
  .content {
    margin-bottom: 2rem;
  }
  .content__text {
    padding-right: 0;
  }
  .content__subscribe .subscribe-form input[type="email"] {
    width: 100%;
  }
  .content__subscribe .subscribe-form button {
    right: 0px;
  }
  .brand {
    width: 100px;
  }
  .image {
    background: url(.././images/hero-mobile.jpg);
    background-size: 100% 100%;
  }
  .text {
    margin-top: 4rem;
  }
}
/*# sourceMappingURL=main.css.map */